body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:hsl(210, 46%, 95%) ;
  font-family: "Manrope";

}

p  {
  font-size: 13px;
  font-weight: 500;
  color:  hsl(214, 17%, 51%);
  margin:0px 30px;
}
.main-container {
  max-width:700px;
  display:flex;
  background-color: white;
  border-radius: 15px;
  margin: auto;


}

.image-container {
  width: 100%;
 

}

.content-container {
/* padding: 20px 30px; */
}

.drawers-image {
  width: 100%;
  height: 100%;
  border-radius: 15px 0px 0px 15px;

}

.avatar-image {
  width:40px;
  border-radius: 20px;

}

.data-and-share {
  display: grid;
  grid-template-columns: 15% 40% 45%;
  padding : 10px 30px;
  align-items: center;
  gap:10px;
  height: 60px;
}

.grid-item-3 {
  display: flex;
  justify-content: flex-end;
}

.share-button {
  border: none;
  background-color: hsl(210, 46%, 95%);
  width:40px;
  height:40px;
  border-radius: 20px;
  margin-right:20px;

}
.name {
  font-size: 13px;

}

h3 {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  margin: 20px 30px;
}

.date  {
  font-size: 10px;
  color: hsl(212, 23%, 69%);
}

@media (max-width:720px) {

  .main-container {
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
 
  
  
  }

  .drawers-image {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
  
  }
  
}

.speech {
  /* (A1) FONT & COLORS */
  width:220px;
  display: flex;
  align-items: center;
  color: #fff;
  background: hsl(217, 19%, 35%);
  gap: 15px;
  padding:15px;

  /* (A2) DIMENSIONS */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  max-width: 600px;

}

/* (B) USE ::AFTER TO CREATE THE "CALLOUT" */
.speech::after {
  display: block; width: 0; content: "";
  border: 15px solid transparent;
}
 
/* (C) "CALLOUT" DIRECTIONS */

.speech.down::after {
  border-top-color: hsl(217, 19%, 35%);
  border-bottom: 0;
}


/* (D) POSITION THE CALLOUT */
.speech {
  position: absolute;
  /* margin: 30px; */
  top: 420px;

  margin-left:220px;

}
.speech::after { position: absolute; }

.speech.down::after {
  bottom: -14px; left: calc(50% - 15px);
  
}

.js-div {

  background-color: black;
 display: flex;
 padding:10px;
 width: 100%;
 
}

.after-touch {
  display: flex;
  gap:15px;
  background-color:hsl(217, 19%, 35%);
  margin-top: 20px;
  height: 60px;
  border-radius: 0px 0px 15px 15px ;
  align-items: center;

  
}